[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-zsh/custom/plugins/zsh-nvm"]
	path = oh-my-zsh/custom/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm
